<header class="mat-elevation-z3">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <!-- Menu de Navegação -->

      <mat-tab-group #tabGroup>
        <mat-tab label="Início"> <app-addroom></app-addroom></mat-tab>
        <mat-tab label="Chat Room">
          <div style="height: 780px;">
            <app-chatroom></app-chatroom>
          </div>
        </mat-tab>
        <mat-tab label="Chat AI"> <app-customer-support></app-customer-support> </mat-tab>
      </mat-tab-group>
      <!-- <button mat-raised-button color="primary" (click)="enterChatRoom('atendente-room')" >Login</button> -->
      <!-- <a>Don't have an account?<a mat-button routerLink="/header/chatroom/atendente-room">Register</a></a> -->
    </div>
  </div>
  <!-- <app-chatroom></app-chatroom> -->
</header>
